html{
	width: 100%;
}

body{
	width: 100%;
	background-color: gray;
}

#register{
	margin:auto;
	width: 40%;
	background-color: #fff;
	border-radius: 10%;
	box-shadow: 10px 10px 10px 0px #4c4c65;
	text-align: left;
	padding:20px;
	padding-left: 50px;
}

label{
	font-size: 16px;
	font-weight: bold;
}

.input1{
	margin-bottom: 20px;
	border: 1px solid gray;
	
}

.input2{
	width: 80%;
	min-height: 30px;
	box-shadow: 2px 2px 2px 0px gray;
	padding: 10px;
}

.top{
	text-align: center;
}
.top h1{
	color: #FF9800;
	font-weight: bold;
	margin-top: 5px;
}

.btn {
	text-align: center;
}

.submit11{
	text-align: center;
	width: 30%;
	padding: 20px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
	background-color: #FF9800;
	border-radius: 10px;
}

span{
	color: red;
}

#diachi{
	min-width: 80%;
	max-width: 80%;
	display: inline-block;
}