.menu{
	width: 100%;
	height: 70px;
	background-color: #795548;
	box-shadow: 2px 5px 10px 0px gray;
	border-bottom: 1px solid gray;
	/*z-index: 1;*/
	z-index: 100000;
}


nav.navbar.navbar-default.container-menu {
    height: 53px;
    z-index: 1000;
}
.menu_content{
	margin: auto;
	max-width: 1140px;
	height: 100%;
	
}
.menu_content>a{	/*bao ngoai logo*/
	display: inline-block;
	height: 100%;
	position: relative;

}
.logo{
	max-height: 70%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.menu_right{
	float: right;
	height: 100%;
}
.menu_right>*{
	float: left;
	margin-right: 25px;
}




.main-menu{
	height: 100%;
	margin-bottom: 0px;
}
.main-menu li{
	height: 100%;
	float:left;
	list-style-type: none;	/*//xóa chấm*/
	padding:23px 12px;
	position: relative;
}
.main-menu > li:hover{
	background-color:#f7f4e1;
}
.main-menu > li:hover>a{
	color:#795548;
}

.main-menu li a{
	text-decoration: none;	/*//xóa gạch chân*/
	color:#fff;
}

.main-menu  li  ul.sub-menu{	/*//day la tat ca nhung thang sub*/
	background-color: #795548;
	position: absolute;
	top: 0%;
	left: 100%;
	width: 200px;
	display: none;
}

.main-menu > li > ul.sub-menu{	/*// thang sub dau tien se drop xuong luon*/
	background-color: #795548;
	position: absolute;
	top: 100%;
	left: 0%;
	width: 200px;
}
.sub-menu{
	z-index: 1;
}

.sub-menu li{
	float: none;
	border-bottom: 1px solid #fff;
}
.sub-menu > li:hover{
	background-color:#f7f4e1;	/*mau sua*/
}

.sub-menu > li:hover>a{
	color:#795548;
}

.main-menu > li:hover > .sub-menu{
	display: block;
}
.sub-menu > li:hover > .sub-menu{
	display: block;
}
.wrap_giohang{
	height: 100%;
	position: relative;
}

.wrap_giohang:hover{
	background-color: #8D6E63;
}
.icon_giohang{
	max-height: 25%;
}

.wrap_giohang p{
	color: #f20;
	position: absolute;
	top: 30%;
	left: 95%;
	transform: translate(-50%, -50%);
	font-size: 20px;
}





ul.nav.navbar-nav {
    background-color: #795548eb;
    z-index: 100000;
}







.icon_user{
	max-height: 60%;
	margin-top: 13px;
}

.icon_giohang{
	max-height: 60%;
	margin-top: 13px;
}

.menu_search{

}

.menu_search *{
	float: left;
}

.menu_search>input{
	margin-top: 20px;
    height: 30px;
}

.btn_search{
	    width: 30px;
    height: 30px;
    background-color: #a6726a;
    margin-top: 20px;
}

.btn_search>img{
	width: 85%;
    margin-top: 2px;
    margin-left: 2px;
}



/*style bostrap*/

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #8D6E63;
}

.dropdown-menu{
	background-color: #795548;
	color: #fff;
}

.dropdown-menu>li:hover{
	/*background-color: #f20;*/
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #e2cdc6;
    text-decoration: none;
    background-color: #795548;
}
.dropdown-menu>li>a{
	color: #fff;
	display: block;
	width: 100%;
	height: 100%;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #EFEBE9;
    background-color: #A1887F;
}

.container-menu{
	background-color: #795548;
}
.logo1_contain{
	padding: 3px 15px;
}
.logo1{
	max-width: 65%;
}

/*.wrap_giohang1{
	width: 70%;
}

.wrap_giohang1>img{
	width: 100%;
}*/

.wrap_giohang1 p{
	color: #f20;
	position: absolute;
	top: 30%;
	left: 95%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	font-weight: bold;
}

.navbar{
	margin-bottom: 0px;
}

.navbar-form {
    /*padding: 10px 15px;*/
     margin-top: 4px; 
/*    margin-right: -15px;
    margin-bottom: 8px;
    margin-left: -15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);*/
}

.navbar-form>button {
    /*padding: 10px 15px;*/
     margin-top: 5px; 
/*    margin-right: -15px;
    margin-bottom: 8px;
    margin-left: -15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);*/
}


.navbar-nav>li>a.wrap_giohang1{
     padding-top: 10px; 
     padding-bottom: 7px; 
}

.navbar-nav {
    margin: 0px 15px;
}








/* gio hang */

.shopping-cart {
    /* visibility: hidden; */
    position: fixed;
    bottom: 50vh;
    right: 0.5em;
    font-size: 1.5em;
    background-color: #795548;
    /* opacity: 0; */
	transition: all 0.3s linear;
	z-index: 1000000;
	padding: 0% 7px;
	border-radius: 5px;
}
.shopping-cart a {
    color: #fff;
}
.shopping-item {
    padding: 0.3em 0.5em;
    position: relative;
}

.count-item {
    position: absolute;
    top: -0.3em;
    right: -0.6em;
    color: red;
    font-size: 0.8em;
    font-weight: bold;
    background-color: rgb(82, 53, 53);
    width: 1.3em;
    height: 1.3em;
	text-align: center;
	line-height: 1.4;
    border-radius: 50%;
}

.navbar-nav {
    margin: 0px 0px;
}


/* totop */

.toTop{
	position: fixed;
	bottom: 1em;
	padding: 0% 20px;
    right: 1em;
    font-size: 1.5em;
    background-color: #967569af;
    /* opacity: 0; */
	transition: all 0.3s linear;
	z-index: 1000000;
	color: #fff;
	box-shadow: 5px 0 10px rgba(14, 13, 13, 0.05);
	opacity: 0;
	visibility: visible;
}




/* test */


@media (min-width: 768px){
.navbar-toggle {
	display: block;
}

.navbar-header {
    float: none;
}

.navbar-collapse.collapse {
    display: none!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
}

.navbar-nav {
    float: none;
    margin: 0;
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-nav>li {
    float: none;
}
.navbar-right {
    float: none!important;
}

.navbar-right .dropdown-menu {
    right: auto;
    left: auto;
}
.navbar-collapse.in {
	overflow-y: visible!important;
	display: block!important;
}



}

@media (min-width: 1000px){
	.navbar-toggle.collapsed {
		display: none;
	}
	.navbar-collapse.collapse {
		display: block!important;
		height: auto!important;
		padding-bottom: 0;
		overflow: visible!important;
	}

	.navbar-header {
		float: left;
	}


	.navbar-nav {
		float: left;
		margin: 0;

		
	}

	/* .giua{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	} */

	.navbar-nav>li>a {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.navbar-nav>li {
		float: left;
	}

	.navbar-right {
		float: right!important;
		margin-right: -15px;
	}

	.navbar-right .dropdown-menu {
		right: 0;
		left: auto;
	}
	.navbar-collapse.in {
		overflow-y: visible;
		display: block;
	}
}

form.navbar-form.navbar-left {
	width: 99%;
	margin-right: 0px;
	margin-left: 0px;
}

a {
    font-size: 15px;
}

