.wrap{
	width: 100%;
}
table{
	width: 100%;
}

table, th, td{
	border:1px solid gray;
	border-collapse:collapse;
	padding: 10px;
	 text-align: center; 
    vertical-align: middle;
    word-wrap: break-word;
}

.title{
	background-color: #D7CCC8;
}

.title>td{
	font-weight: bold;
}

#tabl{
	width: 100%;
}

#tabl>tr{
	width: 100%;
}

.img1{
	width: 10%;
}
.img1 img{
	width: 70%;
}

.tensp1{
	width: 30%;
}
.dongia1{
	width: 10%;
}

.soluong1{
	width: 20%;
}

.thanhtien1{
	width: 15%;
}

.option1{
	width: 15%;
}

.tru{
	background-color: gray;
	padding: 0px 13px;
	margin-right: 5px;
}

.cong{
	background-color: #f20;
	padding: 0px 10px;
	margin-left: 5px;
}

.xoa{
	padding: 3px 10px;
	background: #fff;
}

#xoa{
	padding: 3px 10px;
}



.tongtien{
	text-align: right;
	font-weight: bold;
}




#thanhtoan{
	margin:auto;
	padding:10px;
	margin-top: 30px;
}

.btn{
	padding:10px 20px;
}


.col {
    text-align: center;
    flex: 2;
}

.col input {
    width: 50%;
    margin: 0 auto;
	text-align: center;
	border: 1px solid gray;
    border-radius: 5px;
    padding: 0px 5px;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: static;
}

input.xoa:hover {
    color: #f20;
    text-decoration: underline;
}