html, body{
	width: 100%;
	height: 100%;

}
.wrap{
	width: 100%;
	height: 100%;
}


.content{

}

.welcome{
	margin-top: 30px;
}

.welcome_anh1{
	margin-top: 10px;
	text-align: center;
	overflow: hidden;

}

.welcome_anh1:hover>img{
	transform: scale(1.2);
}

.welcome_anh1>img{
	display: inline;
	transition: all 1s;
}
.welcome_anh>img{
	box-shadow: 5px 5px 5px 0px gray;
	display: block;
}

.welcome>h1{
	padding-top: 45px;
	text-align: center;
}

.welcome>p{
	text-align: center;
	padding-top: 15px;
}

/*het welcome*/

.product{
	margin-top: 120px;
	width: 100%;
	/*height: 100%;*/
}

.shadow-box1{
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.6;
}


.parallax1 {
	margin-top: 20px;
	position: relative;
    /* The image used */
    background-image: url("../img/banner/b1.jpg");

    /* Set a specific height */
       min-height: 170px;
       /*opacity: 0.6;*/
    width: 100%;
    height: 150px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-attachment: unset !important;*/
    background-position: center top !important;
}

.parallax2 {
	margin-top: 10px;
	position: relative;
    /* The image used */
    background-image: url("../img/banner/b2.jpg");

    /* Set a specific height */
       min-height: 170px;
       /*opacity: 0.6;*/
    width: 100%;
    height: 150px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-attachment: unset !important;*/
    background-position: center top !important;
}

.parallax3 {
	margin-top: 10px;
	position: relative;
    /* The image used */
    background-image: url("../img/banner/b6.jpg");

    /* Set a specific height */
       min-height: 170px;
       /*opacity: 0.6;*/
    width: 100%;
    height: 150px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-attachment: unset !important;*/
    background-position: center top !important;
}

.parallax1 p, .parallax2 p , .parallax3 p{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 55px;
	font-weight: bold;
}


.content_sp{
	margin-top: 75px;
}

.content_row{
	position: relative;
	width: 90%;
	margin: auto;
}

.welcome_anh{
	width: 25%;
	/*background-color: #f20;*/
	float: left;
}

.mot_sp{
	/* width: 90%; */
	cursor: pointer;
  transition: 0.5s;
  margin-bottom: 70px;
}

.div_anh{
	border-radius: 50%;
	overflow: hidden;
	border:2px solid #795548;
	position: relative;
}

.div_anh_wrap{
	width: 100%;
	position: relative;
}



.div_anh_wrap .sale1{
	position: absolute;
	max-width: 35%;
	top: -10%;
	left: 60%;
}

.div_anh_wrap .sale1>img{
	max-width: 100%;
}

.div_anh_wrap .sale1>p{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}

.div_anh .mauden1{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*opacity: 0.5;*/
	display: none;

}

.div_anh .mauden1>img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;
}

.mot_sp:hover .mauden1{
	
	display: block;
}

.content_bot{
	text-align: center;
	margin-top: 10px;
}

.content_bot i{
	font-size: 23px;
}

.name_{
	margin-top: 10px;
	font-size: 15px;
}

.gia_{
	margin-top: 10px;
	font-size: 20px;
}

.produc_next{
	max-width: 2%;
	position: absolute;
	/*top: 50px;*/
	left: 100%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.produc_prev{
	max-width: 2%;
	position: absolute;
	top: 37%;
	left: 0%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.produc_next:hover , .produc_prev:hover{
	background-color: #BCAAA4;
}

/*bannerbot*/

.bannerbot{
	margin-top: 70px;
	width: 100%;
}


@-webkit-keyframes bounce1 {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce1 {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(-50%, calc(-50% + 0px), 0);
    transform: translate3d(-50%, calc(-50% + 0px), 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(-50%, -30px, 0);
    transform: translate3d(-50%, calc(-50% - 30px), 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, calc(-50% + 15px), 0);
    transform: translate3d(-50%, calc(-50% + 15px), 0);
  }

  90% {
    -webkit-transform: translate3d(0, calc(-50% - 4px), 0);
    transform: translate3d(-50%, calc(-50% - 4px), 0);
  }

  100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(-50%, calc(-50% + 0px), 0);
    transform: translate3d(-50%, calc(-50% + 0px), 0);
  }
}

.bounce1 {
   /* -webkit-animation-name: bounce;
    animation-name: bounce;*/
  /*-webkit-transform-origin: center bottom;
  transform-origin: center bottom;*/
  animation: bounce1 10s linear infinite both;
}

.parallax1:hover>p, .parallax2:hover>p, .parallax2:hover>p{
	animation: bounce1 2s linear infinite both;
}




@-webkit-keyframes zoomIn1 {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  30% {
    opacity: 1;
  }
}

@keyframes zoomIn1 {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  30% {
    opacity: 1;
  }
}

.zoomIn1 {
  /*-webkit-animation-name: zoomIn;
  animation-name: zoomIn;*/
   animation: zoomIn1 1s linear;
}




@keyframes bounceInUp1 {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp1 {
  animation: bounceInUp1 2s linear;
}


/*animation cuon chuot*/

@-webkit-keyframes cd_dilen{
	from{
		transform: translateY(200px);
		opacity: 0;
	}
	to{
		transform: translateY(0px);
		opacity: 1;
	}
}


@-webkit-keyframes cd_sangphai{
	from{
		transform: translateX(-200px);
		opacity: 0;
	}
	to{
		transform: translateY(0px);
		opacity: 1;
	}
}

@-webkit-keyframes cd_sangtrai{
	from{
		transform: translateX(200px);
		opacity: 0;
	}
	to{
		transform: translateY(0px);
		opacity: 1;
	}
}

@-webkit-keyframes cd_zommto{

	0%{transform: scale(0.1);opacity: 0;}
	90%{transform: scale(1.3);opacity: 1;}
	100%{transform: scale(1);opacity: 1;}
}


@-webkit-keyframes flip1 {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}


.scroll_mouse_dilen, .scroll-LeftToRight, .scroll-RightToLeft, .scroll-zoomto, .scroll-dilen{
	opacity: 0;
}
.scroll_mouse_dilen.dilen{
	animation:cd_dilen 1s ease forwards;
}

.scroll-LeftToRight.cdLeftToRight{
	animation:cd_sangphai 1s ease forwards;
}

.scroll-RightToLeft.cdRightToLeft{
	animation:cd_sangtrai 1s ease forwards;
}
.scroll-zoomto.cdZoomTo{
	animation:cd_zommto 1s ease forwards;
}

.scroll-flip1.flip1{
	animation:flip1 1s ease forwards;
}
