html, body{
	width: 100%;
	height: 100%;

}
.wrap{
	width: 100%;
	height: 100%;
}


.content{

}

.welcome{
	margin-top: 30px;
}

.welcome_anh1{
	margin-top: 10px;
}
.welcome_anh>img{
	box-shadow: 5px 5px 5px 0px gray;
}

.welcome>h1{
	padding-top: 45px;
	text-align: center;
}

.welcome>p{
	text-align: center;
	padding-top: 15px;
}

/*het welcome*/

.product{
	margin-top: 120px;
	width: 100%;
	/*height: 100%;*/
}

.shadow-box1{
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.6;
}


.parallax1 {
	position: relative;
    /* The image used */
    background-image: url("../img/banner/banner3.jpg");

    /* Set a specific height */
       min-height: 170px;
       /*opacity: 0.6;*/
    width: 100%;
    height: 150px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-attachment: unset !important;*/
    background-position: center top !important;
}

.parallax1 p{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 50px;
}


.content_sp{
	margin-top: 75px;
}

.content_row{
	position: relative;
	width: 90%;
	margin: auto;
}

.welcome_anh{
	width: 25%;
	/*background-color: #f20;*/
	float: left;
}

.mot_sp{
	width: 90%;
	cursor: pointer;
	transition: 0.5s;
}

.div_anh{
	border-radius: 50%;
	overflow: hidden;
	border:2px solid #795548;
	position: relative;
}

.div_anh_wrap{
	width: 100%;
	position: relative;
}



.div_anh_wrap .sale1{
	position: absolute;
	max-width: 35%;
	top: -10%;
	left: 60%;
}

.div_anh_wrap .sale1>img{
	max-width: 100%;
}

.div_anh_wrap .sale1>p{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}

.div_anh .mauden1{
	width: 100%;
	height: 100%;
	background-color: black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.5;
	display: none;

}

.div_anh .mauden1>img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;
}

.mot_sp:hover .mauden1{
	
	display: block;
}

.content_bot{
	text-align: center;
	margin-top: 10px;
}

.content_bot i{
	font-size: 23px;
}

.name_{
	margin-top: 10px;
	font-size: 15px;
}

.gia_{
	margin-top: 10px;
	font-size: 20px;
}

.produc_next{
	max-width: 2%;
	position: absolute;
	/*top: 50px;*/
	left: 100%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.produc_prev{
	max-width: 2%;
	position: absolute;
	top: 37%;
	left: 0%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.produc_next:hover , .produc_prev:hover{
	background-color: #BCAAA4;
}

/*bannerbot*/

.bannerbot{
	margin-top: 70px;
	width: 100%;
}

