.footer{
	margin-top: 20px;
	width: 100%;
	/*height: 300px;*/
	background-color: #6d4c41;
	font-size: 15px;
	color: #fff;
	padding: 9px 5px;
	
}

.content_footer{
	margin:auto;
	max-width: 1140px;
}

.anh1{
	width: 100%;
}

.footer_row1>p >img{
	max-width: 15%;
	vertical-align: middle;
}

.footer_row1>p{
	margin-top: 10px;
}

.footer_row2>*{
	margin-top: 15px;
}

.footer_row3>textarea{
	margin-top: 15px;
	width: 70%;
	height: 50px;
	max-width: 70%;
	max-height: 50px;
	color: black;
	padding: 3px;
}

.footer_row3>input{
	width: 20%;
	/* height: 30px; */
	background-color: #3E2723;
	margin-top: 15px;
}

.icon_social{
	font-size: 25px;
	margin-right: 10px;
	cursor: pointer;
}
.far.fa-clock {
    font-size: 20px;
	font-weight: 700;
}

.fa-2x {
    font-size: 2em;
}





#footer .nav-list {
    font-size: 14px;
    line-height: 17px;
}
#footer .nav-list li {
    padding: 0 0 11px;
}
ul li {
    list-style-type: none;
}

#footer a {
    color: #919294;
}
a {
    color: #ffffff;
    text-decoration: none;
}
.list-unstyled>li:hover>a{
	color: #919294;
}

.fa-facebook:hover{
	color: #3b5998;
}

.fa-viber:hover{
	color: #59267c;
}
.fa-google-plus-square:hover{
	color: #dd4b39;
}